{% extends 'base.html' %}
{% block title %}
    <title>Топливо</title>
{% endblock %}

{% block navbar-header %}
    <a class="navbar-brand">Администратор {{ company }}</a>
{% endblock %}

{% block navigation %}
    <!-- Определение активной вкладки -->
    <li><a href="/local-admin/">Отгрузки</a></li>
    <li><a href="/local-admin/cisterns/">Резервуары</a></li>
    <li class="active"><a href="/local-admin/fuels/">Топливо</a></li>
    <li><a href="/local-admin/keys/">Ключи</a></li>
    <li><a href="/local-admin/users/">Пользователи</a></li>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    {% if fuel_form.non_field_errors %}
        {% for error in fuel_form.non_field_errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    {% for field in fuel_form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <div id="edit_fuel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #333333; border-color: #333333; color: #ffffff;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" class="form-horizontal">{% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="fuel_id" id="id_toggle"/>
                            <label for="id_name" class="col-sm-3 control-label">Тип:</label>
                            <div class="col-sm-7">{{ edit_fuel.name }}</div>
                            <label for="id_comment" class="col-sm-3 control-label">Комментарий:</label>
                            <div class="col-sm-7">{{ edit_fuel.comment }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-9">
                                <button class="btn btn-default btn-file" type="submit">Редактировать</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="width: 80%">
        <div class="panel panel-default panel-my">
            <div class="panel-heading panel-heading-my clearfix">
                <h4 class="form-inline navbar-form navbar-left">Типы топлива</h4>
                <ul class="navbar-right navbar-nav nav" style="padding-right: 5px;">
                    <li>
                        <div>
                            <a href="/local-admin/fuels/add-fuel/"
                               class="btn btn-primary glyphicon glyphicon-tint" title="Добавить тип"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Таблица топлива -->
            <div>
                <table class="local_user_table table table-striped" id="fuel_table">
                    <thead>
                        <tr>
			                <th class="col-sm-1" style="text-align: center; vertical-align: middle;">#</th>
			                <th class="col-sm-3" style="vertical-align: middle;">Тип</th>
			                <th class="col-sm-5" style="vertical-align: middle;">Комментарий</th>
                            <th class="col-sm-1" style="vertical-align: middle;"></th>
			                <th class="col-sm-1" style="vertical-align: middle;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in fuels %}
                            <tr>
                                <td style="text-align: center;">{{ forloop.counter }}</td>
                                <td>
                                    <a href="/local-admin/fuels/{{ entry.id }}">
                                        {{ entry.name }}
                                    </a>
                                </td>
                                <td>
                                    {% if entry.comment %}
                                        {{ entry.comment }}
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    <button class="button edit btn btn-default" data-toggle="modal"
                                            data-target="#edit_fuel" onclick="to_toggle(this, 'none')" id="{{ entry.id }}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                                <td style="text-align: center;">
                                    <form method="get">
                                        <button class="edit btn btn-default glyphicon glyphicon-trash" type="submit"
                                                name="del" value="{{ entry.id }}"></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#fuel_table").tablesorter({
                headers: {
                    3: {sorter: false},
                    4: {sorter: false}
                }
            });
        });
    </script>
{% endblock %}