{% extends 'base.html' %}
{% block title %}
    <title>Резервуары</title>
{% endblock %}

{% block navbar-header %}
    <a class="navbar-brand">Администратор {{ company }}</a>
{% endblock %}

{% block navigation %}
    <!-- Определение активной вкладки -->
    <li><a href="/local-admin/">Отгрузки</a></li>
    <li class="active"><a href="/local-admin/cisterns/">Резервуары</a></li>
    <li><a href="/local-admin/fuels/">Топливо</a></li>
    <li><a href="/local-admin/keys/">Ключи</a></li>
    <li><a href="/local-admin/users/">Пользователи</a></li>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default panel-my">
            <div class="panel-heading panel-heading-my clearfix">
                <div class="form-inline navbar-form navbar-left">
                    <form method="get" class="form-inline navbar-form navbar-left" style="padding-left: 0;"> {% csrf_token %}
                        <label for="id_fuel" class="sr-only">Топливо</label>
                        <select name="select_fuel" id="id_fuel" class="form-control" style="min-width: 200px;">
                            <option value=""></option>
                            {% for fuel in fuels %}
                                <option value="{{ fuel.name }}">{{ fuel.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-default" type="submit">Фильтровать</button>
                    </form>
                </div>
                <div class="input-group pull-right" style="padding-top: 15px;">
                    <a href="/local-admin/cisterns/add-cistern/" class="btn btn-default glyphicon glyphicon-oil"
                       title="Добавить резервуар">+</a>
                </div>
            </div>
            <div>
                <table class="local_user_table table table-striped" id="cisterns_table">
                    <thead>
                        <tr>
			                <th class="col-sm-1" style="text-align: center;">#</th>
			                <th class="col-sm-1" style="text-align: center;">Имя</th>
                            <th class="col-sm-2" style="text-align: center;">Топливо</th>
			                <th class="col-sm-4"></th>
			                <th class="col-sm-1" style="text-align: center;">Заполненность</th>
			                <th class="col-sm-1"></th>
                            <th class="col-sm-1"></th>
                            <th class="col-sm-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cist, vol, per in cists %}
                            <tr>
                                <td style="vertical-align: middle; text-align: center;">{{ forloop.counter }}</td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <a href="/local-admin/cisterns/{{ cist.id }}">{{ cist.name }}</a></td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <a href="/local-admin/fuels/{{ cist.fuel.id }}">
                                        {{ cist.fuel.name }}
                                    </a>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <img src="/static/img/{{ cist.cistern_type }}_{{ per }}.PNG" /></td>
                                <td style="vertical-align: middle; text-align: center;">{{ vol }}/{{ cist.max_volume }}</td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <a href="/local-admin/cisterns/edit/{{cist.id}}"
                                           class="button edit btn btn-default glyphicon glyphicon-pencil"></a>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <form method="get"> {% csrf_token %}
                                        <button class="btn btn-primary" name="refr_log" value={{ cist.dev.dev_id }}
                                                type="submit" title="Обновить БД">
                                            <span class="glyphicon glyphicon-refresh"></span>
                                        </button>
                                    </form>
                                </td>
                                <td style="vertical-align: middle; text-align: center;">
                                    <form method="get"> {% csrf_token %}
                                        <button class="btn btn-primary" name="refr_keys" value={{ cist.dev.dev_id }}
                                                type="submit" title="Обновить ключи">
                                            <span class="glyphicon glyphicon-refresh"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#cisterns_table").tablesorter({
                headers: {
                    3: {sorter: false},
                    4: {sorter: false},
                    5: {sorter: false},
                    6: {sorter: false},
                    7: {sorter: false}
                }
            });
        });
    </script>
{% endblock %}