{% extends 'base.html' %}
{% block title %}
    <title>Перечень ЛА</title>
{% endblock %}

{% block navbar-header %}
    <a class="navbar-brand">Администратор DOSA</a>
{% endblock %}

{% block navigation %}
    <!-- Определение активной вкладки -->
    <li><a href="/admin/">Компании</a></li>
    <li class="active"><a href="/admin/local-admins/">Локальные администраторы</a></li>
    <li><a href="/admin/devices-list/">Зарегистрированные устройства</a></li>
{% endblock %}

{% block content %}
    <div id="disable_lu" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #333333; border-color: #333333; color: #ffffff;">
                    Деактивация ЛА
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post">{% csrf_token %}
                        <input type="hidden" name="la_name" id="id_toggle"/>
                        <p style="text-align: center;">Вы уверены, что хотите деактивировать данного пользователя?</p>
                        <p style="text-align: center;">Все ассоциированные с ним записи сохранятся в базе данных.</p>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-5">
                                <button class="btn btn-default btn-file" type="submit">Деактивировать</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default panel-my">
            <div class="panel-heading panel-heading-my clearfix">
                <form method="get" class="form-inline navbar-form navbar-left"> {% csrf_token %}
                    Фильтровать по
                    <label for="id_company" class="sr-only">Компания</label>
                    <input type="text" id="id_company" class="form-control" placeholder="компании" name="company">
                    <label for="id_last_name" class="sr-only">Фамилия</label>
                    <input type="text" id="id_last_name" class="form-control" placeholder="фамилии" name="last_name">
                    <button class="btn btn-default" type="submit">Фильтровать</button>
                </form>
            </div>
            <!-- Таблица локальных администраторов -->
            <div>
                <table class="local_admin_table table table-striped" id="la_table">
                    <thead>
                        <tr>
                            <th class="col-sm-1" style="text-align: center;">#</th>
                            <th class="col-sm-3">Имя</th>
                            <th class="col-sm-2">Логин</th>
                            <th class="col-sm-2">E-mail</th>
                            <th class="col-sm-3">Компания</th>
                            <th class="col-sm-1" style="text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for la in admins %}
                            <tr>
                                <td style="text-align: center;">{{ forloop.counter }}</td>
                                <td>{{ la.user.first_name }} {{ la.user.last_name }}</td>
                                <td>{{ la.user.username }}</td>
                                <td>{{ la.user.email }}</td>
                                <td>{{ la.company.name }}</td>
                                <td style="text-align: center;">
                                    {% if la.user.is_active %}
                                        <button class="edit btn btn-default" data-toggle="modal"
                                                data-target="#disable_lu" onclick="to_toggle(this, 'none')"
                                                id="{{ la.user.username }}">
                                        <span class="glyphicon glyphicon-remove" style="color: red;"></span></button>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove" style="color: dimgray;"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#la_table").tablesorter({
                headers: {0: {sorter: false}, 5: {sorter: false}}
            });

            $('.form-control').click(function(){
                $(this).val('')
            });
        });
    </script>
{% endblock %}